/*#region css reset*/

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*#endregion*/

body {
  color: whitesmoke;
  background: whitesmoke;
}
/*#region button*/
button {
  padding:  .5rem 1rem;
  margin: .5rem;
  border-radius: .1rem;
  background: whitesmoke;
  color: black;
font-size: 1rem;
  display: inline-block;
  border: none;
    margin: .2rem;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:focus {
  transform: scale(0.89);
}

button:hover {
  transform: scale(0.95);
}
/*#endregion*/

#spacer {
  height: 4.2rem;
}

#navbar {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  justify-content: flex-start
  padding: 0.5rem;
  display: flex;
  background: rgb(101, 158, 188);
  align-items: center;
  -webkit-box-shadow: 10px 10px 18px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 18px -8px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 18px -8px rgba(0,0,0,0.75);
}

h1 {
  margin: .7rem .9em .7rem .9em;
}


#formContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  justify-content: center;
  align-items: center;
}

#closeFormDivContainer {
  display: flex;
  justify-content: flex-end;
}

#closeFormDiv {
  cursor: pointer;
}

#newBookInputForm {
  border: .05rem solid black;
  color: black;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.2rem;
  background: whitesmoke;
  -webkit-box-shadow: 10px 10px 31px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 31px -10px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 31px -10px rgba(0,0,0,0.75);

}
#newBookInputForm > * {
  padding: 0.5rem;
}
#mainPageContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 100%;
}


.book {
  -webkit-box-shadow: 10px 10px 18px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 18px -8px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 18px -8px rgba(0,0,0,0.75);
  line-height: 2rem;
  padding: 1.3rem;
  margin: 1rem;
  background: rgb(101, 158, 188);
  border-radius: .1rem;
  
  
}



/*#region toggle classes*/
.blurred {
  filter: blur(3px);
}

.displayFlex {
  display: flex;
}

.displayNone {
  display: none;
}
/*#endregion*/

